html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body { font-family:'Microsoft YaHei', Helvetica, Tahoma; height: 100%; color: #667279; font-size:1em; line-height: 1.25em; background:#fff; padding:0; margin:0;}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, a, textarea, input, button, span, em, strong, img, div { -webkit-touch-callout:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0.3)}
address, cite, dfn, em, var,b,sub,sup { font-style: normal }
code, kbd, pre, samp { font-family: courier new, courier, monospace }
h1, h2, h3, h4, h5, h6, button, input, select, textarea { font-size: 100% }
input,textarea,select{ font-family:"Microsoft YaHei",Helvetica,Arial,Verdana,sans-serif; outline:0; border:none;-webkit-appearance:button;}
fieldset, img { border: 0 }
ul, ol { list-style: none }
table { border-collapse: collapse; border-spacing: 0 }
input{ outline: 0; border:none; }
img { vertical-align: middle ; width:100%; height:auto; display:block;}
a{color:#3a3a3a;text-decoration:none;}
/*layout*/
#wrap{ overflow:hidden;margin: 0 auto; width: 640px; min-height: 100%;}
#footer { background:#FAFCFC; padding-bottom:15px; text-align:center; font-size:12px; color:#9FABB2; border-top:1px solid #E3E7E8;}
.reg{ background:#ffffff;}
/*注册*/
.succes_reg{ background:url(../image/top_bg.jpg) no-repeat; width:640px; height:128px;}
.logo{ background:url(../image/logo.jpg) no-repeat; width:640px; height:143px; margin:28px 0 35px 0;}
.Ando{ background:url(../image/text1.jpg) no-repeat; width:640px; height:121px;}
.Ando-one{ background:url(../image/text2.jpg) no-repeat; width:640px; height:121px; margin:57px 0;}
.iphone{ background:url(../image/text3.jpg) no-repeat; width:640px; height:161px; margin-bottom:120px;}

