body{ margin: 0; padding: 0;}
.banner{ width: 100%;}
.banner1{ height: 100px; width: 100%; background: url("../images/img_01.jpg") no-repeat center;}
.banner2{ height: 100px; width: 100%; background: url("../images/img_02.jpg") no-repeat center;}
.banner3{ height: 100px; width: 100%; background: url("../images/img_03.jpg") no-repeat center;}
.banner4{ height: 100px; width: 100%; background: url("../images/img_04.jpg") no-repeat center;}
.banner5{ height: 100px; width: 100%; background: url("../images/img_05.jpg") no-repeat center;}
.banner6{ height: 100px; width: 100%; background: url("../images/img_06.jpg") no-repeat center;}
.banner7{ height: 100px; width: 100%; background: url("../images/img_07.jpg") no-repeat center;}
.section1{ height: 100px; width: 100%; background: url("../images/img_08.jpg") no-repeat center;}
.section2{ height: 100px; width: 100%; background: url("../images/img_09.jpg") no-repeat center;}
.section3{ height: 100px; width: 100%; background: url("../images/img_10.jpg") no-repeat center;}
.section4{ height: 100px; width: 100%; background: url("../images/img_11.jpg") no-repeat center;}
.section5{ height: 100px; width: 100%; background: url("../images/img_12.jpg") no-repeat center;}
.section6{ height: 100px; width: 100%; background: url("../images/img_13.jpg") no-repeat center;}
.section7{ height: 100px; width: 100%; background: url("../images/img_14.jpg") no-repeat center;}
.section8{ height: 100px; width: 100%; background: url("../images/img_15.jpg") no-repeat center;}
.section9{ height: 100px; width: 100%; background: url("../images/img_16.jpg") no-repeat center;}
.section10{ height: 100px; width: 100%; background: url("../images/img_17.jpg") no-repeat center;}
.section11{ height: 100px; width: 100%; background: url("../images/img_18.jpg") no-repeat center;}
.section12{ height: 100px; width: 100%; background: url("../images/img_19.jpg") no-repeat center;}
.section13{ height: 100px; width: 100%; background: url("../images/img_20.jpg") no-repeat center;}
.section14{ height: 100px; width: 100%; background: url("../images/img_21.jpg") no-repeat center;}
.section15{ height: 100px; width: 100%; background: url("../images/img_22.jpg") no-repeat center;}
.section16{ height: 100px; width: 100%; background: url("../images/img_23.jpg") no-repeat center;}
.section17{ height: 100px; width: 100%; background: url("../images/img_24.jpg") no-repeat center;}
.section18{ height: 100px; width: 100%; background: url("../images/img_25.jpg") no-repeat center;}
.section19{ height: 100px; width: 100%; background: url("../images/img_26.jpg") no-repeat center;}
.section20{ height: 100px; width: 100%; background: url("../images/img_27.jpg") no-repeat center;}
.section21{ height: 100px; width: 100%; background: url("../images/img_28.jpg") no-repeat center;}
.section22{ height: 100px; width: 100%; background: url("../images/img_29.jpg") no-repeat center;}
.section23{ height: 77px; width: 100%; background: url("../images/img_30.jpg") no-repeat center;}
.section24{ height: 100px; width: 100%; background: url("../images/img_31.jpg") no-repeat center;}
.section25{ height: 100px; width: 100%; background: url("../images/img_32.jpg") no-repeat center;}
.section26{ height: 100px; width: 100%; background: url("../images/img_33.jpg") no-repeat center;}
.section27{ height: 100px; width: 100%; background: url("../images/img_34.jpg") no-repeat center;}
.section28{ height: 100px; width: 100%; background: url("../images/img_35.jpg") no-repeat center;}
.section29{ height: 30px; width: 100%; background: url("../images/img_36.jpg") no-repeat center;}


